* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* background-color: #3a2a5f; */
}

#__next {
  background-color: #eee;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

/* @font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral/Spectral-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral/Spectral-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
} */